$main-color: rgb(255, 255, 255);
$font-color: rgb(17, 17, 17);
$secondary-color: rgb(42, 42, 42);
$accent-color: rgb(209, 0, 174);
$transparent-color: rgb(0, 0, 0, 0);

.projectOne {
  background-color: #fdecf6;
}
.projectTwo {
  background-color: #d7e5fc;
}
.projectThree {
  background-color: #f0e3fd;
}
.projectFour {
  background-color: #f5eadc;
}
