@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Telex&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Guntur&display=swap");

$fontRaleway: "Raleway", sans-serif;
$fontRoboto: "Roboto", sans-serif;
$fontTelex: "Telex", sans-serif;
$fontHind: "Hind Guntur", sans-serif;
