@font-face {
  font-family: "averta_demo_pe_cutted_demoRg";
  src: url("avertademopecutteddemo-regular-webfont.woff2") format("woff2"),
    url("avertademopecutteddemo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
