.about-welcome {
  min-height: 100vh;
  margin-left: 5em;
  h2 {
    font-size: clamp(1.8rem, 1rem + 10vw, 4.5rem);
  }
}
.about-room {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../Images/Sample1.png");
}
.about-aboutme {
  min-height: 100vh;
  overflow: hidden;
  margin-left: 5em;
  margin-right: 5em;
}
#aboutme-image {
  height: 80vh;
  width: auto;
}
.about-reference {
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: $font-color;
  color: $main-color;
}
.swiper-wrapper {
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 10em;
  margin-right: 10em;
}
.swiper-button-prev,
.swiper-button-next {
  color: $accent-color;
  margin-left: 5em;
  margin-right: 5em;
}
.image-wrap {
  min-height: auto;
  margin-top: 15vh;
  margin-bottom: 15vh;
}
#about-first-image,
#about-second-image {
  height: 90vh;
}
#about-first-image {
  margin-top: -10em;
}
#about-second-image {
  margin-top: 10em;
}

@media screen and (max-width: $large) {
  /*.about-aboutme {
    height: 175vh;
  }*/
  #aboutme-image {
    margin-top: 2em;
    object-fit: cover;
    height: 30em;
    width: 40em;
  }
  .about-aboutme-text {
    margin-top: 2em;
  } /*
  .about-reference {
    height: 75vh;
  }*/
  .swiper-wrapper {
    margin-left: 1em;
    margin-right: 1em;
  }
  .swiper-slide {
    padding-left: 5em;
    padding-right: 5em;
  }
  .swiper-button-prev,
  .swiper-button-next {
    margin-left: 2em;
    margin-right: 2em;
  } 
  .image-wrap {
    min-height: auto;
    margin-top: 15vh;
    margin-bottom: 15vh;
  }
  /*
  #about-first-image,
  #about-second-image {
    object-fit: cover;
    height: 25em;
    width: 35em;
  }*/
}

@media screen and (max-width: $medium) {
  .about-welcome {
    margin-left: 2.5em;
  }
  .about-aboutme {
    // height: 175vh;
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
  #aboutme-image {
    margin-top: 2em;
    object-fit: cover;
    height: 40em;
    width: 40em;
  }
  .about-aboutme-text {
    margin-top: 1em;
  } /*
  .about-reference {
    height: 75vh;
  }*/
  .swiper-wrapper {
    margin-left: 1em;
    margin-right: 1em;
  }
  .swiper-slide {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  #about-first-image,
  #about-second-image {
    object-fit: cover;
    height: 50em;
    width: 30em;
  }
}
@media screen and (max-width: $small) {
  .about-welcome {
    margin-left: 1em;
  }
  .about-aboutme {
    //margin-bottom: 10vh;
    //height: 190vh;
    margin-left: 1em;
    margin-right: 1em;
  }
  #aboutme-image {
    margin-top: 2em;
    object-fit: cover;
    height: 30em;
    width: 40em;
  }
  .about-aboutme-text {
    margin-top: 2em;
  } /*
  .about-reference {
    height: 75vh;
  }*/
  .swiper-wrapper {
    margin-left: 1em;
    margin-right: 1em;
  }
  .swiper-slide {
    padding-left: 1em;
    padding-right: 1em;
  }
}
