$main-color: #e6e6e6;
$secondary-color: #4a4a4a;
$font-color: #2a2a2a;
$footer-color: #111;
$accent-color: #f700ff;
$trans-color: rgb(42, 42, 42, 0.9);

.project1 {
  background: #d7e5fc;
}
.project2 {
  background: #f0e3fd;
}
.project3 {
  background: #f4f4d7;
}
.project4 {
  background: #e3fdf0;
}
.project5 {
  background: #eadfec;
}
.project6 {
  background: #fdfde3;
}
