.contact-wrap {
  height: 75vh;
  background-color: $font-color;
  color: $main-color;
}
.contact-header {
  position: relative;
  height: 25vh;
  h2 {
    top: 1em;
    position: absolute;
    margin-left: 2.5em;
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 0.95rem + 0.25vw, 1.25rem);
  }
  span {
    opacity: 0.3;
    margin-left: 0.5em;
    font-size: 10rem;
    font-size: clamp(10rem, 0.95rem + 0.25vw, 1.25rem);
  }
}
.information-wrap {
  height: 5vh;
  margin-left: 5em;
  margin-right: 5em;
}
@media screen and (max-width: $large) {
  .contact-wrap {
    height: 75vh;
  }
  .contact-header h2 {
    margin-left: 2.5em;
  }
  .contact-header span {
    display: none;
  }
  .information-wrap {
    margin-left: 0;
    margin-bottom: 5em;
  }
}
@media screen and (max-width: $medium) {
  .contact-wrap {
    height: 75vh;
  }
  .contact-header h2 {
    margin-left: 1em;
  }
  .contact-header span {
    display: none;
  }
  .information-wrap {
    margin-left: 0;
    margin-bottom: 5em;
  }
}
@media screen and (max-width: $small) {
  .contact-wrap {
    height: 75vh;
  }
  .contact-header h2 {
    margin-left: 1em;
  }
  .contact-header span {
    display: none;
  }
  .information-wrap {
    margin-left: 0;
    margin-bottom: 5em;
  }
}
