footer{
    padding-top: 6vh;
    padding-bottom: 6vh;
    background-color: $footer-color;
    
}
.footer-wrap{
    color: $main-color;
    transition: all 1s ease-in-out;
    p {
        font-size: clamp(1.25rem, 0.5rem + 0.5vw, 1.5rem);
    }
    a {
        color: $main-color;
        text-decoration: none;
    }
    span {
        color: $secondary-color;
    }
}
.footer-wrap p a:hover{
    text-decoration: underline;
}