.project-welcome {
  min-height: 100vh;
  margin-left: 5em;
  margin-right: 5em;
  h2 {
    font-size: clamp(1.6rem, 10vw, 4.5rem);
  }
}
.szurmikmarcell-showoff {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../Images/marcell/marcellShowOff.png");
}
.sorokmenti-showoff {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../Images/sorokmenti/SorokmentiShowOff.jpg");
}
.project-topic {
  margin-top:40vh;
  margin-bottom: 40vh;
  margin-left: 10em;
  margin-right: 10em;
}
.szurmikmarcell-layout {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../Images/marcell/marcellShowOff.png");
}
.sorokmenti-layout {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../Images/sorokmenti/SorokmentiShowOff.jpg");

}
.project-overview {
  margin-top:40vh;
  margin-bottom: 40vh;
  margin-left: 10em;
  margin-right: 10em;

}
.project-reference {
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-left: 10em;
  padding-right: 10em;
  min-height: 50vh;
  background-color: $font-color;
  color: $main-color;
}
.project-nextcase {
  margin-top:40vh;
  margin-bottom: 40vh;
  margin-left: 10em;
  margin-right: 10em;

  h2,
  a {
    transition: all 0.5s ease-in-out;
    font-size: clamp(1.8rem, 1rem + 10vw, 4.5rem);
    color: $font-color;
  }
  h2 a:hover {
    text-decoration: underline;
    color: $accent-color;
  }
}
@media screen and (max-width: $medium) {
  .project-welcome {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
  .project-topic {
    margin-top:20vh;
    margin-bottom: 20vh;
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
  .project-overview {
    margin-top:20vh;
    margin-bottom: 20vh;
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
  .project-reference {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}
@media screen and (max-width: $small) {
  .project-welcome {
    margin-left: 1em;
    margin-right: 1em;
  }
  .project-topic {
    margin-top:10vh;
    margin-bottom: 10vh;
    margin-left: 1em;
    margin-right: 1em;
  }
  .project-overview {
    margin-top:10vh;
    margin-bottom: 10vh;
    margin-left: 1em;
    margin-right: 1em;
  }
  .project-reference {
    padding-left: 1em;
    padding-right: 1em;
  }
}
