html,
body {
  background-color: $main-color;
  color: $font-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-family: $font;
  transition: background-color 1s ease-in-out;
}
.container-fluid {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
::-webkit-scrollbar {
  display: none;
}

#button {
  background-color: $accent-color;
  color: $main-color;
  padding: 0.5em;
  border-radius: 0.5em;
  transition: all 0.5s ease-in-out;
}
#button:hover {
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}
.text-wrap {
  h1 {
    font-size: 3rem;
    font-size: clamp(3rem, 0.95rem + 0.25vw, 1.25rem);
  }
  h1 span {
    font-weight: bold;
    color: $accent-color;
  }
}
.text-wrap,
.button-wrap {
  transition: all 1s ease-in-out;
  p {
    font-size: clamp(1.25rem, 0.5rem + 0.5vw, 1.5rem);
    margin-bottom: 1.5em;
  }
  a {
    color: $accent-color;
    text-decoration: none;
  }
  span {
    color: $secondary-color;
  }
}
.accent span {
  color: $accent-color;
  font-weight: bold;
}
.text-wrap p a:hover {
  text-decoration: underline;
}

.d-show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}
.d-not {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}
