.project1 {
  background: #d7e5fc;
}

.project2 {
  background: #f0e3fd;
}

.project3 {
  background: #f4f4d7;
}

.project4 {
  background: #e3fdf0;
}

.project5 {
  background: #eadfec;
}

.project6 {
  background: #fdfde3;
}

html,
body {
  background-color: #e6e6e6;
  color: #2a2a2a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  font-family: "Telex", sans-serif;
  transition: background-color 1s ease-in-out;
}

.container-fluid {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  display: none;
}

/*
::-webkit-scrollbar-thumb {
  background-color: $font-color;
  border-radius: 2em;
} */
/*
.cursor {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 0.15em solid $accent-color;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}
*/
#button {
  background-color: #f700ff;
  color: #e6e6e6;
  padding: 0.5em;
  border-radius: 0.5em;
}

#button:hover {
  opacity: 0.5;
}

.text-wrap h1 {
  font-size: 3rem;
  font-size: clamp(3rem, 0.95rem + 0.25vw, 1.25rem);
}
.text-wrap h1 span {
  font-weight: bold;
  color: #f700ff;
}

.text-wrap,
.button-wrap {
  transition: all 1s ease-in-out;
}
.text-wrap p,
.button-wrap p {
  font-size: clamp(1.25rem, 0.5rem + 0.5vw, 1.5rem);
  margin-bottom: 1.5em;
}
.text-wrap a,
.button-wrap a {
  color: #f700ff;
  text-decoration: none;
}
.text-wrap span,
.button-wrap span {
  color: #4a4a4a;
}

.accent span {
  color: #f700ff;
  font-weight: bold;
}

.text-wrap p a:hover {
  text-decoration: underline;
}

nav {
  height: 4em;
  position: fixed;
  z-index: 1030;
  transition: all 0.5s ease-in-out;
}

.navigation {
  overflow: hidden;
  height: 100vh;
}

.burger {
  z-index: 1030;
  cursor: pointer;
  position: fixed;
  top: 2em;
  right: 2em;
}
.burger span {
  position: relative;
  display: block;
  margin: 0.2em;
  height: 0.2em;
  width: 1.8em;
  background-color: #2a2a2a;
}

.burger-active #line1 {
  transition: all 0.5s ease-in-out;
  transform: rotate(45deg);
}

.burger-active #line2 {
  transition: all 0.5s ease-in-out;
  margin-top: -0.4em;
  transform: rotate(-45deg);
}

.burger-active span {
  transition: all 0.5s ease-in-out;
  background-color: #e6e6e6;
}

.navigation-menu {
  transition: all 1s ease-in-out;
  margin: 0;
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: rgba(42, 42, 42, 0.9);
  z-index: 1000;
}
.navigation-menu ul {
  margin-top: 5em;
  list-style: none;
}
.navigation-menu ul li a {
  transition: all 0.5s ease;
  text-decoration: none;
  color: #e6e6e6;
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 0.95rem + 0.25vw, 1.25rem);
}
.navigation-menu ul li a:hover {
  color: #f700ff;
  font-size: 3rem;
}

.home-welcome {
  min-height: 100vh;
  margin-left: 10em;
  margin-right: 10em;
}

#home-welcome-image {
  width: 80%;
}

.home-welcome-image {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.home-welcome-image .img-wrap:before {
  content: "";
  background-image: linear-gradient(to top, rgb(230, 230, 230), rgba(230, 230, 230, 0));
  position: absolute;
  height: 70%;
  max-width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}

.home-welcome-image .img-wrap:after {
  content: "";
  display: block;
}

.home-projects-holder {
  height: 325vh;
}

.home-projects-header {
  position: relative;
  height: 25vh;
}
.home-projects-header h2 {
  top: 1em;
  position: absolute;
  margin-left: 2.5em;
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 0.95rem + 0.25vw, 1.25rem);
}
.home-projects-header span {
  opacity: 0.3;
  margin-left: 0.5em;
  font-size: 10rem;
  font-size: clamp(10rem, 0.95rem + 0.25vw, 1.25rem);
}

.home-projects-item {
  height: 100vh;
  margin-left: 10em;
  margin-right: 10em;
  position: relative;
}

.home-projects-text h3 a {
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  color: #2a2a2a;
}
.home-projects-text h3 a:hover {
  text-decoration: none;
  color: #f700ff;
  font-size: 1.9rem;
  font-size: clamp(1.9rem, 0.95rem + 0.25vw, 1.25rem);
}
.home-projects-text p span {
  color: #f700ff;
}

.home-project-image {
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

#projectOne {
  height: 100vh;
  background-position-x: 90%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-image: url("../Images/konyvtar/konyvtar.png");
}

#projectTwo {
  height: 100vh;
  background-position-x: 90%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-image: url("../Images/marcell/marcell.png");
}

#projectThree {
  height: 100vh;
  background-position-x: 90%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-image: url("../Images/sorokmenti/sorokmenti.png");
}

/*
#projectFour {
  height: 100vh;
  background-position-x: 90%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-image: url("../Images/Sample1.png");
}
#projectFive {
  height: 100vh;
  background-position-x: 90%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-image: url("../Images/Sample.png");
}
#projectSix {
  height: 100vh;
  background-position-x: 90%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-image: url("../Images/Sample1.png");
}*/
@media screen and (max-width: 992px) {
  .home-welcome {
    overflow-y: hidden;
    height: 150vh;
  }

  .home-projects-header h2 {
    top: 0.8em;
    margin-left: 0.5em;
  }

  .home-projects-header span {
    font-size: 5rem;
    font-size: clamp(5rem, 0.95rem + 0.25vw, 1.25rem);
    margin-left: 0.1em;
  }

  .home-projects-item {
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media screen and (max-width: 768px) {
  .home-welcome {
    overflow-y: hidden;
    margin-left: 5em;
    margin-right: 5em;
    height: 140vh;
  }

  .home-projects-header h2 {
    top: 0.5em;
    margin-left: 1em;
  }

  .home-projects-header span {
    margin-left: 0.1em;
    font-size: clamp(6rem, 0.95rem + 0.25vw, 1.25rem);
  }

  .home-projects-item {
    margin-left: 2em;
    margin-right: 2em;
  }

  #projectOne,
#projectTwo,
#projectThree,
#projectFour,
#projectFive,
#projectSix {
    height: 75vh;
    max-width: 60vh;
    background-position: center;
    background-size: auto;
    background-attachment: scroll;
  }
}
@media screen and (max-width: 576px) {
  .home-welcome {
    overflow-y: hidden;
    margin-left: 1em;
    margin-right: 1em;
    height: 130vh;
  }

  .home-projects-header {
    margin-top: 10vh;
    height: 10vh;
  }

  .home-projects-header h2 {
    margin-left: 0.5em;
  }

  .home-projects-header span {
    display: none;
  }

  .home-projects-item {
    margin-left: 0;
    margin-right: 0;
  }

  #projectOne,
#projectTwo,
#projectThree,
#projectFour,
#projectFive,
#projectSix {
    height: 75vh;
    max-width: 60vh;
    background-position: center;
    background-size: auto;
    background-attachment: scroll;
  }
}
.about-welcome {
  min-height: 100vh;
  margin-left: 5em;
}
.about-welcome h2 {
  font-size: clamp(1.8rem, 1rem + 10vw, 4.5rem);
}

.about-room {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../Images/Sample1.png");
}

.about-aboutme {
  min-height: 100vh;
  overflow: hidden;
  margin-left: 5em;
  margin-right: 5em;
}

#aboutme-image {
  height: 80vh;
  width: auto;
}

.about-reference {
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: #2a2a2a;
  color: #e6e6e6;
}

.swiper-wrapper {
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 10em;
  margin-right: 10em;
}

.swiper-button-prev,
.swiper-button-next {
  color: #f700ff;
  margin-left: 5em;
  margin-right: 5em;
}

.image-wrap {
  min-height: auto;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

#about-first-image,
#about-second-image {
  height: 90vh;
}

#about-first-image {
  margin-top: -10em;
}

#about-second-image {
  margin-top: 10em;
}

@media screen and (max-width: 992px) {
  /*.about-aboutme {
    height: 175vh;
  }*/
  #aboutme-image {
    margin-top: 2em;
    -o-object-fit: cover;
       object-fit: cover;
    height: 30em;
    width: 40em;
  }

  .about-aboutme-text {
    margin-top: 2em;
  }

  /*
  .about-reference {
    height: 75vh;
  }*/
  .swiper-wrapper {
    margin-left: 1em;
    margin-right: 1em;
  }

  .swiper-slide {
    padding-left: 5em;
    padding-right: 5em;
  }

  .swiper-button-prev,
.swiper-button-next {
    margin-left: 2em;
    margin-right: 2em;
  }

  .image-wrap {
    min-height: auto;
    margin-top: 15vh;
    margin-bottom: 15vh;
  }

  /*
  #about-first-image,
  #about-second-image {
    object-fit: cover;
    height: 25em;
    width: 35em;
  }*/
}
@media screen and (max-width: 768px) {
  .about-welcome {
    margin-left: 2.5em;
  }

  .about-aboutme {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }

  #aboutme-image {
    margin-top: 2em;
    -o-object-fit: cover;
       object-fit: cover;
    height: 40em;
    width: 40em;
  }

  .about-aboutme-text {
    margin-top: 1em;
  }

  /*
  .about-reference {
    height: 75vh;
  }*/
  .swiper-wrapper {
    margin-left: 1em;
    margin-right: 1em;
  }

  .swiper-slide {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  #about-first-image,
#about-second-image {
    -o-object-fit: cover;
       object-fit: cover;
    height: 50em;
    width: 30em;
  }
}
@media screen and (max-width: 576px) {
  .about-welcome {
    margin-left: 1em;
  }

  .about-aboutme {
    margin-left: 1em;
    margin-right: 1em;
  }

  #aboutme-image {
    margin-top: 2em;
    -o-object-fit: cover;
       object-fit: cover;
    height: 30em;
    width: 40em;
  }

  .about-aboutme-text {
    margin-top: 2em;
  }

  /*
  .about-reference {
    height: 75vh;
  }*/
  .swiper-wrapper {
    margin-left: 1em;
    margin-right: 1em;
  }

  .swiper-slide {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.project-welcome {
  min-height: 100vh;
  margin-left: 5em;
  margin-right: 5em;
}
.project-welcome h2 {
  font-size: clamp(1.6rem, 10vw, 4.5rem);
}

.szurmikmarcell-showoff {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../Images/marcell/marcellShowOff.png");
}

.sorokmenti-showoff {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../Images/sorokmenti/SorokmentiShowOff.jpg");
}

.konyvtar-showoff {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../Images/konyvtar/konyvtarShowOff.png");
}

.project-topic {
  margin-top: 40vh;
  margin-bottom: 40vh;
  margin-left: 10em;
  margin-right: 10em;
}

.szurmikmarcell-layout {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../Images/marcell/marcellShowOff.png");
}

.sorokmenti-layout {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../Images/sorokmenti/SorokmentiShowOff.jpg");
}

.konyvtar-layout {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../Images/konyvtar/konyvtarShowOff.png");
}

.project-overview {
  margin-top: 40vh;
  margin-bottom: 40vh;
  margin-left: 10em;
  margin-right: 10em;
}

.project-reference {
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-left: 10em;
  padding-right: 10em;
  min-height: 50vh;
  background-color: #2a2a2a;
  color: #e6e6e6;
}

.project-nextcase {
  margin-top: 40vh;
  margin-bottom: 40vh;
  margin-left: 10em;
  margin-right: 10em;
}
.project-nextcase h2,
.project-nextcase a {
  transition: all 0.5s ease-in-out;
  font-size: clamp(1.8rem, 1rem + 10vw, 4.5rem);
  color: #2a2a2a;
}
.project-nextcase h2 a:hover {
  text-decoration: underline;
  color: #f700ff;
}

@media screen and (max-width: 768px) {
  .project-welcome {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }

  .project-topic {
    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-left: 2.5em;
    margin-right: 2.5em;
  }

  .project-overview {
    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-left: 2.5em;
    margin-right: 2.5em;
  }

  .project-reference {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}
@media screen and (max-width: 576px) {
  .project-welcome {
    margin-left: 1em;
    margin-right: 1em;
  }

  .project-topic {
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 1em;
    margin-right: 1em;
  }

  .project-overview {
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 1em;
    margin-right: 1em;
  }

  .project-reference {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.contact-wrap {
  height: 75vh;
  background-color: #2a2a2a;
  color: #e6e6e6;
}

.contact-header {
  position: relative;
  height: 25vh;
}
.contact-header h2 {
  top: 1em;
  position: absolute;
  margin-left: 2.5em;
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 0.95rem + 0.25vw, 1.25rem);
}
.contact-header span {
  opacity: 0.3;
  margin-left: 0.5em;
  font-size: 10rem;
  font-size: clamp(10rem, 0.95rem + 0.25vw, 1.25rem);
}

.information-wrap {
  height: 5vh;
  margin-left: 5em;
  margin-right: 5em;
}

@media screen and (max-width: 992px) {
  .contact-wrap {
    height: 75vh;
  }

  .contact-header h2 {
    margin-left: 2.5em;
  }

  .contact-header span {
    display: none;
  }

  .information-wrap {
    margin-left: 0;
    margin-bottom: 5em;
  }
}
@media screen and (max-width: 768px) {
  .contact-wrap {
    height: 75vh;
  }

  .contact-header h2 {
    margin-left: 1em;
  }

  .contact-header span {
    display: none;
  }

  .information-wrap {
    margin-left: 0;
    margin-bottom: 5em;
  }
}
@media screen and (max-width: 576px) {
  .contact-wrap {
    height: 75vh;
  }

  .contact-header h2 {
    margin-left: 0.5em;
  }

  .contact-header span {
    display: none;
  }

  .information-wrap {
    margin-left: 0;
    margin-bottom: 5em;
  }
}